/* src/styles/Map.scss */
.map-container {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .marker {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
  