@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ripple {
    @apply animation-ripple;
  }
}

@font-face {
  font-family: Lexend-Deca-regular;
  src: url('./assets/fonts/LexendDeca-Regular.woff') format('woff'),
      url('./assets/fonts/LexendDeca-Regular.woff2') format('woff2');
      font-weight: regular;
      font-style: regular;
}

@font-face {
  font-family: Lexend-Deca-ExtraLight;
  src: url('./assets/fonts/LexendDeca-ExtraLight.woff') format('woff'),
      url('./assets/fonts/LexendDeca-ExtraLight.woff2') format('woff2');
      font-weight: ExtraLight;
      font-style: ExtraLight;
}

html {
  box-sizing: border-box;
  height: 100%;
  body {
    height: 100%;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --font-base: 'Lexend Deca', sans-serif;

  --primary-color: #F0F0F0;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.version-num {
  opacity: 0.3;
  position: fixed;
  bottom: 2px;
  right: 2px;
  background: black;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.pointer * {
  cursor: pointer !important;
}

.nosel * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
}

.nodrag * {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  -khtml-user-drag: none;
}

.ellipse {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black; /* Adjust color as desired */
  border-radius: 50%;
  pointer-events: none; /* Makes sure the ellipses don’t interfere with clicks */
  transition: transform 0.1s ease, opacity 0.1s ease;
}